<% include ../base-top.ejs %>
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css"/>
<link href="/stylesheets/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" media="screen" rel="stylesheet" type="text/css" />
<title>Jokes of Day</title>
</head>
<body class="fans-body">
<div class="fans-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <% include ../common/userbar.ejs %>
            </div>
            <div class="col-md-8 ">
                <div class="row">
                    <% if (locals.fans.length > 0) { %>
                    <div class="alert-success alert">
                        <strong><%= locals.user.name %>的粉丝:</strong>
                    </div>
                    <% locals.fans.forEach(function(fan){ %>
                    <div class="col-lg-4 user-card">
                        <div class="user-info-top">
                            <div class="col-lg-3">
                                <img class="pull-left" alt="300x200" src="<%= fan.profile_image_url %>"
                                     title="<%= fan.name %>"
                                     width="40"
                                     height="40"/>
                            </div>
                            <div class="col-lg-9">
                                <h3>
                                    <a href="/user/<%= fan.name %>"><%= fan.name %></a>
                                </h3>
                                <h4>
                                    <ul class="list-inline">
                                        <li title="粉丝">
                                            <a class="user-fans" href="/<%= fan.name %>/fans">
                                                <i class="fa fa-users"></i> <%= fan.follower_count %>
                                            </a>
                                        </li>
                                        <li title="关注">
                                            <a class="user-followings" href="/<%= fan.name %>/followings">
                                                <i class="fa fa-heart"></i> <%= fan.following_count %>
                                            </a>
                                        </li>
                                        <li title="分数">
                                            <a class="user-score" href="/scores/ranking">
                                                <i class="fa fa-star"></i> <%= fan.score %>
                                            </a>
                                        </li>
                                    </ul>
                                </h4>
                            </div>
                        </div>
                        <div class="col-lg-12 user-info-intro">
                            <% if (fan.profile) { %>
                            <p><%= fan.profile %></p>
                            <% } else { %>
                            <p>你还没有添加自己的个人简介！赶快添加让大家更多的了解你。</p>
                            <% } %>
                        </div>
                    </div>
                    <% }); %>
                    <% } else { %>
                    <div class="alert alert-success">
                        <strong>Oops!还没有粉丝，分享点给力的，加油</strong>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>
<% include ../base-bottom.ejs %>