<% include ../base-top.ejs %>
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css"/>
<link href="/stylesheets/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" media="screen" rel="stylesheet" type="text/css" />
<title>Jokes of Day</title>
</head>
<div class="fans-section">
    <div class="container">
        <div class="row">
            <% if (locals.fans.length > 0) { %>
                <% locals.fans.forEach(function(fan){ %>
                    <div class="col-md-4 user-info">
                        <div class="info-header">
                            个人信息
                        </div>
                        <div class="info-content">
                            <div class="info-thumbnail">
                                <ul class="list-inline">
                                    <li>
                                        <a href="/user/<%= fan.name %>">
                                            <img src="<%= fan.profile_image_url %>"
                                                 alt="profile thumbnail" title="<%= fan.name %>"
                                                 class="img-circle img-responsive" width="50" height="50"/>
                                        </a>
                                    </li>
                                    <li class="info-username">
                                        <a href="/user/<%= fan.name %>"><%= fan.name %></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info-data">
                                <ul class="list-inline">
                                    <li title="粉丝"><i class="fa fa-users"></i><%= fan.follower_count %></li>
                                    <li title="关注"><i class="fa fa-heart"></i><%= fan.following_count %></li>
                                    <li title="分数"><i class="fa fa-star"></i><%= fan.score %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            <div class="back-to-home">
                <a href="/">Learn more</a> about Joke of Day
            </div>
                <% }); %>
            <% } else { %>
                <div class="alert alert-success">
                    <strong>Oops!还没有粉丝，分享点给力的，加油</strong>
                </div>
            <div class="back-to-home">
                <a href="/">Learn more</a> about Joke of Day
            </div>
            <% } %>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>
<% include ../base-bottom.ejs %>