<% include ../base-top.ejs %>
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css"/>
<link href="/stylesheets/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" media="screen" rel="stylesheet" type="text/css" />
<title>Jokes of Day</title>
</head>
<div class="fans-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <% include ../common/sidebar.ejs %>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="alert-success alert">
                        <%= locals.user.name %>的粉丝:
                    </div>
                    <% if (locals.fans.length > 0) { %>
                    <% locals.fans.forEach(function(fan){ %>
                    <div class="col-md-5">
                        <div class="thumbnail">
                            <img alt="300x200" src="<%= fan.profile_image_url %>" title="<%= fan.name %>"/>
                            <div class="caption">
                                <h3>
                                    <a href="/user/<%= fan.name %>"><%= fan.name %></a>
                                </h3>
                                <p>
                                    <% if (fan.profile) {%>
                                    <%= fan.profile %>
                                    <% } else { %>
                                    还没有自我介绍!
                                    <% } %>
                                </p>
                                <p>
                                <ul class="list-inline">
                                    <li><a href="/<%= fan.name %>/fans"><i class="fa fa-users"></i> 粉丝  <%= fan.follower_count %></a></li>
                                    <li><a href="/<%= fan.name %>/followings"><i class="fa fa-heart"></i> 关注  <%= fan.following_count %></a></li>
                                    <li><a href="/<%= fan.name %>/scores"><i class="fa fa-star"> 分数</i>  <%= fan.score %></a></li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                    <% } else { %>
                    <div class="alert alert-success">
                        <strong>Oops!还没有粉丝，分享点给力的，加油</strong>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>
<% include ../base-bottom.ejs %>