<% include ../base-top.ejs %>
<div class="container user-section">
    <div class="row">
        <div class="col-md-4">
            <img src="" alt="<%= user.name %>"/>
            <div class="username"><%= user.name %></div>
            <div class="user-info">
                <span><%= user.follower_count %>粉丝</span>
                <span><%= user.following_count %>关注</span>
                <span><%= user.score %>分数</span>
            </div>
            <div class="follow-button">
                <% if (locals.relation) { %>
                <button class="btn btn-success btn-unfollow">取消关注</button>
                <% } else { %>
                <button class="btn btn-success btn-follow">加入关注</button>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% if (locals.recent_jokes.length > 0) { %>
                <% locals.recent_jokes.forEach(function(joke){ %>
                    <div class="joke-title"><%= joke.title %></div>
                    <% if (joke.content) { %>
                        <div class="joke-content"><%= joke.content%></div>
                    <% } %>
                    <% if (joke.pictures) { %>
                        <div class="joke-pictures">
                            <% joke.pictures.forEach(function(picture) { %>
                              <img src="<%= picture%>" alt="shared pictures"/>
                            <% }); %>
                        </div>
                    <% } %>
                    <% if (joke.link) { %>
                        <div class="joke-link">
                            <a href="<%= joke.link %>"><%= joke.link %></a>
                        </div>
                    <% } %>
                    <div class="joke-info">
                        <span class="likes"><%= joke.like_count %>喜欢</span>
                        <span class="views"><%= joke.visit_count %>看过</span>
                        <div class="create-time">
                            <%= joke.create_at %>创建
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>
</div>

<% include ../base-bottom.ejs %>