<% include ../base-top.ejs %>
<% include ../common/header.ejs %>
<div class="container user-section">
    <div class="row">
        <% include ../common/sidebar.ejs %>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% if (locals.recent_jokes.length > 0) { %>
                <% locals.recent_jokes.forEach(function(joke){ %>
                    <div class="joke-title"><%= joke.title %></div>
                    <% if (joke.content) { %>
                        <div class="joke-content"><%= joke.content%></div>
                    <% } %>
                    <% if (joke.pictures) { %>
                        <div class="joke-pictures">
                            <% joke.pictures.forEach(function(picture) { %>
                              <img src="<%= picture.url %>" alt="shared pictures"/>
                            <% }); %>
                        </div>
                    <% } %>
                    <% if (joke.link) { %>
                        <div class="joke-link">
                            <a href="<%= joke.link %>"><%= joke.link %></a>
                        </div>
                    <% } %>
                    <div class="joke-info">
                        <span class="likes"><%= joke.like_count %>喜欢</span>
                        <span class="views"><%= joke.visit_count %>看过</span>
                        <div class="create-time">
                            <%= joke.create_at %>创建
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>
<% include ../base-bottom.ejs %>