<% include ../base-top.ejs %>
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css"/>
<link href="/stylesheets/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/css/dropzone.css"/>
<link rel="stylesheet" href="/stylesheets/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" media="screen" rel="stylesheet" type="text/css" />
<title>Jokes of Day</title>
</head>
<body class="joke-body">
<div class="container joke-section">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-sm-3">
            <% include ../common/jokeuser.ejs %>
        </div>
        <div class="col-md-6 col-sm-6 col-md-offset-1">
            <div class="item row">
                <div class="joke-item-head">
                    <div class="col-lg-2">
                        <a href="/user/<%= locals.author.name %>">
                            <img src="<%= locals.author.profile_image_url %>" alt="<%= locals.author.name %>"
                                 title="<%= locals.author.name %>" width="60" height="60"
                                 class="img-circle img-responsive"/>
                        </a>
                    </div>
                    <div class="col-lg-10">
                        <div class="author-card-name">
                            <a href="/user/<%= locals.author.name %>"><%= locals.author.name %></a>
                        </div>
                        <div class="joke-post-time">
                            分享于 <%= locals.joke.friendly_create_time %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 joke-page-content">
                    <% if (locals.joke.content) { %>
                    <p><%= locals.joke.content %></p>
                    <% } %>
                    <% if (locals.joke.link) { %>
                    <a href="<%= locals.joke.link %>"><%= locals.joke.link %></a>
                    <% } %>
                    <% if (locals.joke.pictures.length > 1) { %>
                    <ul class="list-inline">
                        <% locals.joke.pictures.forEach(function(pic){ %>
                        <li>
                            <img alt="300x200" src="<%= pic.url %>" class="img-responsive"/>
                        </li>
                        <% }); %>
                    </ul>
                    <% } else if (locals.joke.pictures.length === 1) { %>
                    <ul class="list-inline">
                        <% locals.joke.pictures.forEach(function(pic){ %>
                        <li>
                            <img alt="300x200" src="<%= pic.url %>" class="img-responsive"/>
                        </li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
                <div class="col-lg-12 joke-item-footer-bar">
                    <ul class="list-inline">
                        <li>
                            <a class="show-comment-0">
                                <i class="fa fa-comments"></i>  <span id="comments-count"><%= locals.comments.length %></span>  comments
                            </a>
                        </li>
                        <li>
                            <a title="plus one" id="<%= locals.joke._id %>"><i class="fa fa-heart"></i>
                                <span><%= locals.joke.like_count %></span>  likes
                            </a>
                        </li>
                        <li>
                            <a><i class="fa fa-share"></i>  share</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="item row">
                <div class="joke-comments">
                    <% if (locals.comments.length > 0) { %>
                    <h3>Comments</h3>
                    <ul id="comments-list">
                        <% locals.comments.forEach(function(comment){ %>
                        <li>
                            <a href="/user/<%= comment.author.name %>">
                                <img src="<%= comment.author.profile_image_url %>" alt="<%= comment.author.name %>"
                                     width="20" height="20" class="img-responsive pull-left"/>
                            </a>
                            <a href="/user/<%= comment.author.name %>" class="pull-left comment-author-name"><%= comment.author.name %>&nbsp;</a>
                            <span class="pull-left">:&nbsp;<%= comment.content %></span>
                            <span class="pull-left comment-time">&nbsp;&nbsp;on <%= comment.friendly_create_time %></span>
                        </li>
                        <% }); %>
                        <% if (locals.current_user) { %>
                        <li>
                            <input type="text" class="form-control" placeholder="Add a comment" id="add-a-comment"/>
                            <div id="comment-show" style="display: none">
                                <img src="<%= locals.current_user.profile_image_url %>" alt="<%= locals.current_user.name %>"
                                     width="40" height="40" class="img-responsive pull-left"/>
                                <textarea id="new-comment-content" class="form-control"></textarea>
                                <button id="post-comment" class="btn btn-success" value="" disabled="disabled">post comment</button>
                                <button id="cancel-post-comment" class="btn btn-default">cancel</button>
                                <input type="hidden" value="<%= locals.joke._id %>" id="joke-info-id"/>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                    <% } else { %>
                    <% if (locals.current_user) { %>
                    <h3 class="alert alert-success">Oops!此条还没有任何评论</h3>
                    <ul id="comments-list">
                        <li>
                            <input type="text" class="form-control" placeholder="Add a comment" id="add-a-comment"/>
                            <div id="comment-show" style="display: none">
                                <img src="<%= locals.current_user.profile_image_url %>" alt="<%= locals.current_user.name %>"
                                     width="40" height="40" class="img-responsive pull-left"/>
                                <textarea id="new-comment-content" class="form-control"></textarea>
                                <button id="post-comment" class="btn btn-success" value="" disabled="disabled">post comment</button>
                                <button id="cancel-post-comment" class="btn btn-default">cancel</button>
                                <input type="hidden" value="<%= locals.joke._id %>" id="joke-info-id"/>
                            </div>
                        </li>
                    </ul>
                    <% } else { %>
                        <h3 class="alert alert-success">请先登录，才能添加评论。</h3>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<% include ../jsfiles.ejs %>
<% include ../base-bottom.ejs %>