<div class="col-md-8 jokes-content">
    <% if (locals.recent_jokes && locals.recent_jokes.length > 0) { %>
        <% locals.recent_jokes.forEach(function(joke) { %>
        <div class="col-md-5">
            <div class="thumbnail">
                <div class="user-card">
                    <div class="user-card-thumbnail">
                        <a href="/user/<%= joke.author.name %>">
                            <img src="<%= joke.author.profile_image_url %>" alt="<%= joke.author.name %>"
                                 title="<%= joke.author.name %>" width="50" height="50"
                                 class="img-circle img-responsive"/>
                        </a>
                    </div>
                    <div class="user-card-name">
                        <a href="/user/<%= joke.author.name %>"><%= joke.author.name %></a>
                        <span>Shared publicly on <%= joke.friendly_create_time %></span>
                    </div>

                </div>

                <div class="caption">
					<% if (joke.content) { %>
						<p><%= joke.content %></p>
					<% } %>
					<% if (joke.link) { %>
						<a href="<%= joke.link %>"><%= joke.link %></a>
					<% } %>
                    <% if (joke.pictures.length > 0) { %>
                        <% joke.pictures.forEach(function(pic){ %>
                          <img alt="300x200" src="<%= pic.url %>" />
                        <% }); %>
                    <% } %>
                    <p>
                        <button class="btn btn-primary btn-plus-like" id= "<%= joke._id %>" title="plus one">+1</button><strong><%= joke.like_count %></strong>
                    </p>
                </div>
                <% if (joke.comments.length > 0) { %>
                    <div><%= joke.comments.length %></div>
                    <div class="joke-comments">
                        <% for(var i=0; i<joke.comments.length; i++ ) { %>
                            <div><%= joke.comments[i].content %>
                                <span>created by <%= joke.comments[i].author.name %>
                                    on <%= joke.comments[i].friendly_create_time %> </span>

                            </div>
                        <% } %>
                    </div>
                <% } %>
                <div class="joke-add-comment">
                    <input type="text" id="add-new-comment" placeholder="添加新评论">
                    <button class="btn btn-info btn-add-comment" index="<%= joke._id %>">确定</button>
                </div>
            </div>
        </div>
        <% }); %>
    <% } else { %>
        <div class="alert alert-success">
            <strong>Oops! 还没有人分享最搞笑瞬间，赶快成为第一个天使。</strong>
        </div>
    <% } %>
</div>