<div class="col-md-8 jokes-content">
    <% if (locals.recent_jokes.length > 0) { %>
        <% locals.recent_jokes.forEach(function(joke) { %>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="user-card">
                    <a href="/user/<%= joke.user.name %>">
                        <img src="<%= joke.user.profile_image_url %>" alt="<%= joke.user.name %>"
                             title="<%= joke.user.name %>"/>
                    </a>
                    <a href="/user/<%= joke.user.name %>"><%= joke.user.name %></a>
                </div>
                <img alt="300x200" src="http://lorempixel.com/600/200/people" />
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                    </p>
                </div>
            </div>
        </div>
        <% }); %>
    <% } else { %>
        <div class="alert alert-success">
            <strong>Oops! 还没有人分享最搞笑瞬间，赶快成为第一个天使。</strong>
        </div>
    <% } %>



</div>