<div class="col-md-8 jokes-content">
    <% if (locals.recent_jokes && locals.recent_jokes.length > 0) { %>
        <% locals.recent_jokes.forEach(function(joke, index) { %>
        <div class="col-md-5">
            <div class="thumbnail">
                <div class="user-card">
                    <div class="user-card-thumbnail">
                        <a href="/user/<%= joke.author.name %>">
                            <img src="<%= joke.author.profile_image_url %>" alt="<%= joke.author.name %>"
                                 title="<%= joke.author.name %>" width="50" height="50"
                                 class="img-circle img-responsive"/>
                        </a>
                    </div>
                    <div class="user-card-name">
                        <a href="/user/<%= joke.author.name %>"><%= joke.author.name %></a>
                        <span>Shared publicly on <%= joke.friendly_create_time %></span>
                    </div>
                </div>
                <div class="caption">
					<% if (joke.content) { %>
						<p><%= joke.content %></p>
					<% } %>
					<% if (joke.link) { %>
						<a href="<%= joke.link %>"><%= joke.link %></a>
					<% } %>
                    <% if (joke.pictures.length > 0) { %>
                        <% joke.pictures.forEach(function(pic){ %>
                          <img alt="300x200" src="<%= pic.url %>" />
                        <% }); %>
                    <% } %>
                    <p>
                        <% if (joke.has_plus_one) { %>
                        <button class="btn btn-danger btn-plus-like" id="<%= joke._id%>" title="sub one">-1</button>
                        <% } else { %>
                        <button class="btn btn-primary btn-plus-like" id= "<%= joke._id %>" title="plus one">+1</button>
                        <% } %>
                        <strong><%= joke.like_count %></strong> | <strong><%= joke.visit_count %></strong>
                    </p>
                    <a href="/joke/<%= joke._id %>" class="btn btn-info">read more</a>
                </div>
                <div class="joke-comment-<%= index %>">
                    <% if (joke.comments.length > 0) { %>
                    
                        <% joke.comments.forEach(function(comment) { %>
                            <div><%= comment.content %>
                                <span>created by <%= comment.author.name %>
                                    on <%= comment.friendly_create_time %> </span>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
                <div class="joke-add-comment">
                    <input type="text" placeholder="添加新评论">
                    <button class="btn btn-info btn-add-comment" index="<%= index %>" title="<%= joke._id %>">确定</button>
                </div>
            </div>
        </div>
        <% }); %>
    <% } else { %>
        <div class="alert alert-success">
            <strong>Oops! 还没有人分享最搞笑瞬间，赶快成为第一个天使。</strong>
        </div>
    <% } %>
</div>