<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Joke of Day</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav menu-bar">
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                            <% if (locals.current_user) { %>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/"><i class="fa fa-home"></i>Home</a>
                                </li>
                                <li>
                                    <a href="/<%= locals.current_user.name %>/timeline"><i class="fa fa-user"></i>Timeline</a>
                                </li>
                                <li>
                                    <a href="/<%= locals.current_user.name %>/photos"><i class="fa fa-camera"></i>Photo wall</a>
                                </li>
                                <li>
                                    <a href="/settings"><i class="fa fa-gear"></i>Settings</a>
                                </li>
                                <li>
                                    <a href="/about"><i class="fa fa-info"></i>About</a>
                                </li>
                            </ul>
                            <% } else { %>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/"><i class="fa fa-home"></i>Home</a>
                                </li>
                                <li>
                                    <a href="/about"><i class="fa fa-info"></i>About</a>
                                </li>
                            </ul>
                            <% } %>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="padding-right: 30px;">
                        <% if (locals.current_user) { %>
                        <li><p class="navbar-text">Hi, <a href="/user/<%= locals.current_user.name %>"><%= locals.current_user.name %></a></p></li>
                        <li class="hello">
                            <img class="img-circle img-responsive" src="<%= locals.current_user.profile_image_url %>" width="30" height="30" alt=""/>
                        </li>
                        <li>
                            <% if (locals.current_user.message_not_read === 0) { %>
                            <a class="zero-not-read-message" href="/u/messages">
                                <span id="message-tooltip" class="badge" data-toggle="tooltip"
                                      data-placement="bottom" title="未读消息">
                                    <%= locals.current_user.message_not_read %>
                                </span>
                            </a>
                            <% } else { %>
                            <a class="not-read-message" href="/u/messages">
                                <span id="message-tooltip" class="badge" data-toggle="tooltip"
                                      data-placement="bottom" title="未读消息">
                                    <%= locals.current_user.message_not_read %>
                                </span>
                            </a>
                            <% } %>
                        </li>
                        <li><a class="sign-out-button" href="/signout" data-method="post" rel="nofollow">Sign out</a></li>
                        <% } else { %>
                        <li>
                            <a class="sign-button" href="/signup">注册</a>
                        </li>
                        <li>
                            <a class="sign-button" href="/signin">登录</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>