<% if (locals.recent_jokes && locals.recent_jokes.length > 0) { %>
<% locals.recent_jokes.forEach(function(joke, index) { %>
    <div class="joke-item">
        <div class="joke-item-header row">
            <div class="col-lg-2">
                <img src="<%= joke.author.profile_image_url %>"
                     alt="Joke Author"
                     title="<%= joke.author.name %>"
                     width="50"
                     height="50"/>
            </div>
            <div class="col-lg-10">
                <h4 class="author-name"><a href="/user/<%= joke.author.name %>"><%= joke.author.name %></a></h4>
                <h4 class="joke-create-time">分享于 <%= joke.friendly_create_time %></h4>
            </div>
        </div>
        <div class="joke-item-content">
            <% if (joke.title) { %>
            <p>
                <strong><%= joke.title %></strong>
            </p>
            <% } %>
            <p class="joke-content-content">
                <%if (joke.content) { %>
                    <%= joke.content %>
                <% } %>
            </p>
            <div class="joke-images">
                <% if (joke.pictures && joke.pictures.length > 0) { %>
                    <ul class="list-inline">
                        <% if (joke.pictures.length > 1) { %>
                        <% joke.pictures.forEach(function(picture) {%>
                            <li>
                                <a href="<%= picture.url %>" class="fancybox" rel="gallery-<%= locals.currentpage %>-<%= index %>">
                                    <img class="img-responsive" src="<%= picture.url  %>"
                                         alt="Joke Thumbnail"
                                         width="150"
                                         height="150"/>
                                </a>
                            </li>
                        <% }); %>
                        <% } else { %>
                        <% joke.pictures.forEach(function(picture) {%>
                            <li>
                                <a href="<%= picture.url %>" class="fancybox" rel="gallery-<%= locals.currentpage %>-<%= index %>">
                                    <img class="img-responsive" src="<%= picture.url  %>" alt="Joke Thumbnail"/>
                                </a>
                            </li>
                        <% }); %>
                        <% } %>
                    </ul>
                <% } %>
            </div>
            <p>
                <a class="btn" href="/joke/<%= joke._id %>">View details »</a>
            </p>
        </div>
        <div class="joke-item-footer">
            <ul class="list-inline">
                <li><a href="/joke/<%= joke._id %>" class="btn btn-default">Comment</a></li>
                <% if (!joke.has_plus_one) { %>
                <li><a class="btn btn-default btn-plus-like" title="plus one" id="<%= joke._id %>">
                        +<span class="span-like-count"><%= joke.like_count %></span>
                    </a>
                </li>
                <% } else { %>
                <li><a class="btn btn-default btn-plus-like" title="sub one" id="<%= joke._id %>"
                       style="color: #ffffff;background-color: #d2322d;" >
                        +<span class="span-like-count"><%= joke.like_count %></span>
                    </a>
                </li>
                <% } %>
                <li><a class="btn btn-default">Share</a></li>
            </ul>

        </div>
    </div>
<% }); %>
<% } %>